.bgImg{
    position: relative;
    text-align: center;
}

.title{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    
  }

  .subtitle{
    font-size: 25px;
  }

  
